@{
    ViewData["Title"] = "Generátor platobných predpisov";
}

@await Html.PartialAsync("AppDescriptionPartial")

<section>
    <h2>Postup <span style="font-size: smaller">(časť 2)</span></h2>
    <div>
        <ol start="4">
            <li>Vygenerovaný dokument si uložte a vytlačte</li>
            <li>Výtlačky rozstrihajte a doručte platiteľom</li>
            <li>(Profit)</li>
        </ol>
    </div>
    <a id="back" class="btn btn-primary btn-lg" asp-action=""><span class="glyphicon glyphicon-fast-backward"></span> Naspäť</a>
</section>
