@{
    ViewData["Title"] = "Generátor platobných predpisov";
}

@await Html.PartialAsync("AppDescriptionPartial")

<section>
<h2>Pracujeme na tom</h2>
    <div class="lead">Čakajte prosím, môže to chvíľku trvať...</div>
    <div id="progressbar"><div class="progress-label"></div></div>
</section>

@section Scripts {
<script src="~/lib/jquery-file-download/dist/jquery.fileDownload.js"></script>
<script src="~/js/inProgress.js"></script>
<script defer="defer">
var delay = 2000;
var id = '@ViewData["RequestID"]';
var baseUrl = '@ViewData["BaseUrl"]';
inProgress(delay, id, baseUrl);
</script>
}
