<section>
    <h1>Generátor platobných predpisov</h1>
    <div class="lead">
        Pomocou tejto aplikácie môžete vygenerovať platobné predpisy pre väčšie množstvo platiteľov.
        Každý vygenerovaný predpis obsahuje informácie o platbe a QR kód na jednoduché zaplatenie.
    </div>
</section>